@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Spartan:wght@700&display=swap');
$background:  hsl(268, 75%, 9%);
$screen: #1E0836;
$keypad:  #441279;
$text: hsl(0, 0, 100%);
$font: 'Spartan', sans-serif;
$toggler:  #00DECF;