@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Spartan:wght@700&display=swap');
$background:  hsl(0, 0%, 90%);
$screen: hsl(0, 0%, 93%);
$keypad:  hsl(0, 5%, 81%);
$text:  hsl(60, 10%, 19%);
$font: 'Spartan', sans-serif;
$toggler:hsl(25, 99%, 27%);
$white: #fff;